# Binary assets — stored directly in git (no LFS), not diffed or filtered
*.wasm !text !filter !merge !diff
*.tiff !text !filter !merge !diff
*.jpg  !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif  !text !filter !merge !diff
*.webp !text !filter !merge !diff
*.exr  !text !filter !merge !diff
*.hdr  !text !filter !merge !diff
*.ktx  !text !filter !merge !diff
*.ktx2 !text !filter !merge !diff
*.glb  !text !filter !merge !diff
*.tif  !text !filter !merge !diff
*.png  !text !filter !merge !diff
